*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--font-base: 'TT Firs Neue', sans-serif;
	--black: #161616;
	--grey: #404040;
	--yellow: #e7d387;
	--text-gradient: linear-gradient(
		94.59deg,
		#f0dfad 0%,
		#e8b55d 33.71%,
		#e9bb58 66.75%,
		#ecda59 98.84%
	);
	--gradient: linear-gradient(
		93.25deg,
		#f0dfad -59.3%,
		#eaac41 -5.38%,
		#e9bb58 47.48%,
		#ecda59 98.81%
	);
}
html {
	/* default root font-size is 16px */
	/* so minimum font-size: .9rem * 16px = 14.4px */
	/* maximum font-size: 1.5rem * 16px = 24px  */
	/* preferred font-size: 1% of viewport width + 0.3rem(that is 4.8px) */

	/* default font sizes */
	/* h1: 2em (or 32px) */
	/* h2: 1.5em (or 24px) */
	/* h3: 1.17em (or 18.72px) */
	/* h4: 1em (or 16px) */
	/* h5: 0.83em (or 13.28px) */
	/* h6: 0.67em (or 10.72px) */
	/* p: 1em (or 16px) */
	scroll-behavior: smooth;
	font-size: clamp(0.9rem, 1vw + 0.3rem, 1.5rem);
}
body {
	font-family: var(--font-base);
	background-color: var(--black);
	color: #fff;
}
body:has(.preloader.shown) {
	overflow: hidden;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: inherit;
	font: inherit;
}
input {
	font: inherit;
	color: inherit;
}

/* Lenis */
html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}
