@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('../font/TTFirsNeue-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('../font/TTFirsNeue-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('../font/TTFirsNeue-DemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('../font/TTFirsNeue-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	src: url('../font/TTFirsNeue-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	src: url('../font/TTFirsNeue-Black.woff2') format('woff2');
}

/* Italic */

@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url('../font/TTFirsNeue-Italic.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	src: url('../font/TTFirsNeue-MediumItalic.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	src: url('../font/TTFirsNeue-DemiBoldItalic.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url('../font/TTFirsNeue-BoldItalic.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	src: url('../font/TTFirsNeue-ExtraBoldItalic.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	src: url('../font/TTFirsNeue-BlackItalic.woff2') format('woff2');
}
